*{
  padding: 0px;
  margin: 0px;
  background-attachment: fixed;
}

.sect1{
  background-color: #000;
  width: 100%;
  height: 120vh;
  color:#60269E;
  background-attachment: fixed;
}

.navbar{
  height: 30px;
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  padding-top: 30px;
}


.navbar hr{
  color: darksalmon;
}

.eccp1 .eccp1text {
  padding-top: 240px;
  color: white;
}

.eccp1 .eccp1text h3{
  font-size: 18px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.eccp1 .eccp1text h1{
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 0px 6px 0px rgba(217, 94, 255, 0.5);
}

.eccp1 .eccp1text span{
  color: #A457F0;
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 600px) {
  .eccp1 .eccp1text h1{
    font-size: 40px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}


.circ{
  padding-top: 30px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.circ nav a{
  color: white;
  padding: 10px;
  background-color: #A457F0;
  border-radius: 5px;
  text-decoration: none;
}

.block{
  background-color: #fff;
  width: 100%;
  height: 20vh;
}

.about{
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.about_col h2{
  font-size: 15px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about_col h1{
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 0px 6px 0px rgba(230, 17, 241, 0.561);
}

.about_col p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about_col{
  padding: 80px;
  color: white;
}

.about_col img{
  width: 100%;
  margin-left: -10px;
}

.about_col .linked{
  width: 7s00px;
  display:inline-block;
}

.about_col .linked img{
  width: 25px;
  padding: 5px;
  background-color: white;
  border: 2px solid white;
  margin-left: 0px;
}

.about_col .linked img:hover{
  background-color: rgba(255, 255, 255, 0.289);
  border: 2px solid #9B51E0;
}

@media only screen and (max-width: 600px) {
  .about {
    display: block;
    height: 180vh;
  }
  .about_col img{
    margin-left: 10px;
  }
}

.skillsection h1{
  padding-top: 55px;
  padding-left: 60px;
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skill{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
  padding: 90px;
}
/* 
.skill2{
  display: inline-block;
  padding: 10px;
}

.skill2 .skill_col{
  background-color: #9B51E0;
  color: white;
  padding-left: 10px;
  font-size: 15px;
  margin-left: 50px;
  font-weight: lighter;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.skill3{
  display: inline-block;
  padding: 10px;
}


.skill3 .skill_col{
  background-color: #01D083;
  color: white;
  padding-left: 10px;
  font-size: 15px;
  margin-left: 20px;
  font-weight: lighter;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skill3 .skill_col h3{
  font-size: 14px;
}
 */

.skillsection p{
  padding-left: 70px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: underline;
}

.skill_col{
  padding: 15px;
  border: 1px solid rgba(128, 128, 128, 0.127);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 10px;
}

.skill_col img{
  width: 20%;
  border-radius: 30%;
}

.skill h3{
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 50px;
}

@media only screen and (max-width: 600px) {
  .skill {
    display: block;
  }

  .skill_col{
    margin-top: 10px;
  }
  
}

.break1{
  background-color: #9B51E0;
  height: 30vh;
  width: 100%;
}

.odahome{
  background-color: #000;
  height: 90vh;
}
.odahome h2{
padding-left: 30px;
font-size: 40px;
padding-top: 50px;
color: white;
}

.odaskills{
  height: 70vh;
  display: grid;
  grid-template-columns: auto auto auto;
}

.oda_col{
  padding-top: 50px;
  margin: 20px;
  height: 100px;
  border-radius: 20px;
  color: white;
  border: 1px solid #f2edf71b;
  background-color: #ffffff06;
}

.oda_col p{
  font-weight: 600;
  padding: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.oda_col img{
  padding-top: -10px;
  width: 10%;
}

.oda_col a{
  text-decoration: underline;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.oda_col a:hover{
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .odahome{
    background-color: #000;
    height: 200vh;
  }


  .odaskills{
    width: 400px;
    height: 200vh;
    margin-left: 10px;
    display: block;
  }
 
}


@media only screen and (max-width: 600px) {

  .about_col img{
    margin-left: 10px;
  }
  .contact{
    padding-top: 200px;
    width: 100%;
    height: 20vh;
    background-color: #9B51E0;
  }
}


.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f12b;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}

.contact{
  background-color: #60269E;
  width: 100%;
  height: 70vh;
  padding-top: 100px;
}

.contact .text{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 
  sans-serif;
  padding: 20px;
}

.contact  img{
width: 30%;
top: 20px;
}

.contact .linked img{
  width: 40px;
}